#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "duniter"
name = "Duniter"
description.en = "Crypto-currency software to operate Ğ1 libre currency"
description.fr = "Logiciel de cryptomonnaie pour faire fonctionner la monnaie libre Ğ1"

version = "1.8.7~ynh2"

maintainers = ["Moul"]

[upstream]
license = "AGPL-3.0-or-later"
website = "https://duniter.org"
code = "https://git.duniter.org/nodes/typescript/duniter"

[integration]
yunohost = ">= 11.2"
architectures = ["amd64"]
multi_instance = false
ldap = "not_relevant"
sso = "not_relevant"
disk = "50M"
ram.build = "150M"
ram.runtime = "200M"

[install]
    [install.domain]
    type = "domain"

    [install.admin]
    type = "user"

    [install.init_main_permission]
    type = "group"
    default = "admins"

[resources]
    [resources.sources.main]
    amd64.url = "https://git.duniter.org/nodes/typescript/duniter/-/jobs/110607/artifacts/raw/work/bin/duniter-server-v1.8.7-linux-x64.deb"
    amd64.sha256 = "a3b3f44b09a76f40d93f761872f9d798ee68bea8cc2eb73fe63c9cc6ad8b6519"

    format = "whatever"
    extract = false
    rename = "duniter-server.deb"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
    admin.allowed = "admins"
    admin.additional_urls = ["/webmin"]

    apis.url = "/bma"
    apis.show_tile = true
    apis.allowed = "visitors"
    apis.additional_urls = ["/ws2p"]

    [resources.ports]
    web_admin.default = 8000
    local_bma.default = 10901
    local_ws2p.default = 20901
